<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Database - Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/clglogo.png') }}" alt="Logo">
            <span>Vidyavardhaka College of Engineering</span>
        </div>
        <div class="links">
            <a href="{{ url_for('index') }}">Input</a>
            <a href="{{ url_for('output') }}">Output</a>
        </div>
    </nav>
    <main>
        <h1>Input Page</h1>
        <form method="post" action="{{ url_for('index') }}">
            
            <label for="usn">USN:</label>
            <input type="text" name="usn" required placeholder="Enter your USN">
            
            <label for="name">Name:</label>
            <input type="text" name="name" required placeholder="Enter your name">
            
            <label for="birth_date">Birth Date:</label>
            <input type="date" name="birth_date" required placeholder="Enter your Date of Birth">
            
            <label for="email">Email:</label>
            <input type="email" name="email" required placeholder="Enter your E-mail address">
            
            <label for="github">GitHub Profile:</label>
            <input type="text" name="github" required placeholder="Enter your GitHub Profile id">
            
            <label for="linkedin">LinkedIn Profile:</label>
            <input type="text" name="linkedin" required placeholder="Enter your LinkedIn Profile id">
            
            <button type="submit">Submit</button>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </main>
</body>
</html>
